<section id="edit-faq-category" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_faq_category) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', faq_category: @faq_category %>
    </div>
  </div>
</section>