<% breadcrumb :program, @program %>
<div id="intro">
  <section class="row">
    <h1 class="col-12 no-display-title"><%= @program.title %></h1>
    <p class="col-12 page-description">
      <%= @program.description %>
    </p>
  </section>
  <section class="row">

  </section>
</div>