<section id="new-order" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:new_order) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', order: @order %>
    </div>
  </div>
</section>