<% breadcrumb :contact %>
<div id="show-contact">
	<div class="row">
		<article class="col-12" itemscope itemprop="article" itemtype="http://schema.org/Article">
			<div class="sl_content_header">
			</div>
			<div class="sl_content_main">
				문의되었습니다.
			</div>
		</article>
	</div>
</div>
