<section id="admin-home" class="col-12">
  <div class="row">
    <h2 class="col-12">주문, 결제 요약</h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</section>