
  <%
    a_class = 'nav-link'
    b_class = 'nav-link'
    c_class = 'nav-link'

    if params[:controller] == 'admin/users'
      a_class += ' active'
    end

    if params[:controller] == 'admin/companies'
      b_class += ' active'
    end

    if params[:controller] == 'admin/user_point_logs'
      c_class += ' active'
    end
  %>
  <div class="col-12">
    <nav class="sub-nav">
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to t(:user, scope: [:activerecord, :models]), admin_users_path, { :class => a_class } %></li>
        <li class="nav-item"><%= link_to t(:company, scope: [:activerecord, :models]), admin_companies_path, { :class => b_class } %></li>
        <li class="nav-item"><%= link_to t(:user_point_log, scope: [:activerecord, :models]), admin_user_point_logs_path, { :class => c_class } %></li>
      </ul>
    </nav>
  </div>