

    <% @products.each do |product| %>
      <article class="col-12">
        <div class="media mt-3 p-3 rounded-2">
          <h3><%=link_to link_to product.title,orders_path({product: product}) %></h3>
          <p><%= product.description %></p>
        </div>
      </article>
    <% end %>
